@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2rem;
    max-width: 21rem;
    margin: 8rem auto;
    border-radius: 2rem;

}
img {
    max-width: 21rem;
    border-radius:2rem;
}
.text {
    text-align: center;
}
.text>p {
    margin: 0 2rem;
}

/* --second code --
 h1,
p {
    text-align: center;
}
p {
    font-size: 1rem;
    margin: 2rem 4rem;
    padding-bottom: 2rem;
    
}
.container {
    max-width: 25rem;
    margin: 8rem auto;
    background-color: white;
    border-radius: 2rem;
}

img {
    max-width: 22rem;
    min-width: 5rem;
    margin:1.5rem ;
    border-radius: 1em;
}
/*