@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Outfit;

}
img {
    width: 100%;
    border-radius: 1rem;
}
h1 {
    text-align: center;
    margin: 1rem 1.2rem;
}
p {
    font-size: 1rem;
    opacity: .6;
    margin: 0 3rem;
    text-align: center;


}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 24rem;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}
footer {
position: absolute;
bottom: 0;

}